/*===> Begin footer <===*/
.page-home {
  .footer-top {
    background-color: #fff1f6;
  }
}
footer {
  position: relative;
  .footer-top {
    background-size: cover;
    width: 100%;
    @media only screen and (max-width: 424px) {
      height: 110px;
    }
    @media only screen and (min-width: 425px) {
      height: 110px;
      > div {
        padding-top: 20px;
      }
    }
    @media only screen and (min-width: 768px) {
      height: 200px;
      > div {
        padding-top: 30px;
      }
    }
    @media only screen and (min-width: 1024px) {
      height: 270px;
      > div {
        padding-top: 30px;
      }
    }
    @media only screen and (min-width: 1280px) {
      height: 350px;
    }
    @media only screen and (min-width: 1440px) {
      height: 380px;
      > div {
        padding-top: 30px;
      }
    }
    @media only screen and (min-width: 1920px) {
      height: 500px;
    }
  }
  .footer-bottom-wrap {
    padding: 25px 0;
    @apply bg-footer-srichand;
    p {
      margin-bottom: 0;

      a {
        color: inherit;

        &:hover {
          // color: $main_color;
        }
      }
    }

    .footer-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .soc-link-wrap {
        display: flex;
        align-items: center;

        p {
          margin-bottom: 0;
          margin-right: 20px;
        }
      }
    }
  }

  // @include breakpoint(small) {
  // 	.footer-top {
  // 		padding: 80px 0 50px;
  // 		// background: url(../img/tablet_footer.svg) !important;
  // 		background-size: cover !important;
  // 		background-repeat: no-repeat;
  // 	}

  // 	.f-nav {
  // 		li {
  // 			a {
  // 				font-size: 14px;
  // 			}
  // 		}
  // 	}

  // 	.f-subscribe, .f-nav {
  // 		margin-bottom: 40px;
  // 	}

  // 	.f-subscribe {
  // 		display: flex;
  // 		flex-direction: column;
  // 		align-items: center;

  // 		.logo+p {
  // 			text-align: center;
  // 			max-width: 510px;
  // 			margin-bottom: 40px;
  // 		}
  // 	}

  // 	.footer-bottom-wrap {
  // 		.footer-bottom {
  // 			flex-direction: column;

  // 			p {
  // 				text-align: center;
  // 			}

  // 			.soc-link-wrap {
  // 				margin-top: 15px;
  // 				p {
  // 					display: none;
  // 				}
  // 			}
  // 		}
  // 	}
  // }

  // @include breakpoint(mobile) {
  // 	.footer-top {
  // 		padding-top: 110px;
  // 		padding-bottom: 80px;
  // 	}

  // 	h4 {
  // 		margin-bottom: 20px;
  // 	}

  // 	.f-nav {
  // 		margin-bottom: 30px;

  // 		li {
  // 			a {
  // 				font-size: 14px;
  // 			}
  // 		}
  // 	}

  // 	.signup-form {
  // 		max-width: none;
  // 		width: 100%;
  // 	}
  // }
}
/*===> End footer <===*/
