.tab-list {
    padding-left: 0;
}
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
}
  
.tab-list-active {
    background-color: white;
    border: solid #f3f3f3;
    border-width: 1px 1px 0 1px;
}
.tabs {
    // #f8a0b8 #fff4f7 #f3f3f3
    ul {
        position: relative;
        z-index: 2;
        overflow-x: scroll;
        overflow-y: hidden;
        &.nav-fill {
            .tab-list-item {
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                text-align: center;
                border-top: 1px solid #f3f3f3;
                border-left: 1px solid #f3f3f3;
                border-right: 1px solid #f3f3f3;
                border-radius: 0;
                white-space: nowrap;
                &:first-child {
                    border-top-left-radius: 10px;
                }
                &:last-child {
                    border-top-right-radius: 10px;
                }
                &.tab-list-active {
                    background: #f8a0b8;
                    color: #fff;
                }
            }
        }
    }
    .tab-content {
        border-top: 2px solid #f8a0b8;
        scrollbar-width: thin;
        scrollbar-color: #f8a0b8 #fff4f7;
        &::-webkit-scrollbar-track {
            background: #f8a0b8;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #f8a0b8 ;
            border-radius: 6px;
            border: 3px solid #fff4f7;
        }
    }
}